// COLORS

$smoke75: #1a1a1a;
$smoke50: #282828;
$smoke25: #616161;
$brick: #f24342;
$white: #fff;
$black: #1a1a1a;

// FONT SIZE

$base-font-size: 10px;

// MEDIA BREAKPOINTS

$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-smL: 425px;
$breakpoint-smM: 375px;
$breakpoint-smS: 320px;
