# Включение модуля переписывания URL
RewriteEngine On

# Перенаправление на русскую версию сайта
RewriteRule ^ru$ /ru.html [L]

# Перенаправление на румынскую версию сайта
RewriteRule ^ro$ /ro.html [L]