@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-smL) {
  .popup {
    width: 90%;
    height: 45rem;
    &_form {
      &-wrapper {
        width: 90%;
        gap: 4rem;
        &--input {
          font-size: 1.4rem;
          padding: 1rem 0rem 1rem 1rem;
        }
      }
      &-title {
        padding: 5rem 0rem 3rem 0rem;
      }
    }
  }
}

@media (max-width: 550px) {
  .popup {
    width: 90%;
    &_form {
      &-wrapper {
        width: 95%;
        gap: 6.5rem;
        &--input {
          font-size: 1.6rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .popup {
    &_form {
      &-wrapper {
        gap: 5rem;
      }
    }
  }
}
@media (max-width: $breakpoint-smS) {
  .popup {
    &_form {
      &-wrapper {
        &--input {
          font-size: 1.4rem;
        }
      }
    }
  }
}
