@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-lg) {
  .course {
    padding-bottom: 5rem;
    &_wrapper {
      &-content {
        &--item {
          padding-bottom: 2.4rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .course {
    &_wrapper {
      flex-direction: column-reverse;
      gap: 3rem;
      &-content {
        width: 90%;
        padding-right: 0;
      }
      &-bg {
        width: 90%;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .course {
    &_wrapper {
      &-bg {
        height: 40rem;
      }
    }
  }
}

@media (max-width: $breakpoint-smL) {
  .course {
    &_wrapper {
      &-bg {
        filter: none;
      }
    }
  }
}

@media (max-width: $breakpoint-smS) {
  .course {
    &_wrapper {
      &-bg {
        height: 35rem;
      }
    }
  }
}
