@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: 580px) {
  .promo {
    &_wrapper {
      gap: 1.4rem;
      width: 90%;
      height: 90%;
    }
  }
}
@media (max-width: 500px) {
  .promo {
    &_wrapper {
      width: 80%;
    }
  }
}
@media (max-width: 450px) {
  .promo {
    &_wrapper {
      width: 70%;
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .promo {
    &_wrapper {
      gap: 1rem;
      width: 65%;
    }
  }
}
@media (max-width: $breakpoint-smM) {
  .promo {
    &_wrapper {
      height: 95%;
      width: 60%;
    }
  }
}
@media (max-width: 345px) {
  .promo {
    &_wrapper {
      width: 55%;
    }
  }
}
