@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: 1310px) {
  .individual {
    &_content {
      flex-direction: column;
      align-items: center;
    }
    &_video {
      width: 90%;
    }
    &_galery {
      width: 100%;
      justify-content: center;
    }
  }
}
