@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: 1750px) {
  .swiper_presentation-bg--1 {
    background-position-y: -50rem;
  }
}
@media (max-width: 1550px) {
  .swiper_presentation-bg--1 {
    background-position-y: -43rem;
  }
}

@media (max-width: $breakpoint-xxl) {
  // SWIPER PRESENTATION
  .swiper_presentation-bg--1 {
    background-position-y: -39rem;
  }
  .swiper_presentation-bg--3 {
    background-position-y: -10rem;
  }
  .swiper_presentation-title--3 {
    font-size: 3.4rem;
  }
}
@media (max-width: 1300px) {
  .swiper_presentation-bg--1 {
    background-position-y: -32rem;
  }
}
@media (max-width: $breakpoint-xxl) {
  // SWIPER PRESENTATION
  .swiper_presentation-bg--2 {
    background-position-y: -4rem;
  }
  .swiper_presentation-bg--3 {
    background-position-y: -4rem;
  }
  .swiper_presentation-title--2 {
    font-size: 3.4rem;
  }
  .swiper_presentation-bg--1 {
    background-position-y: -28rem;
  }
}
@media (max-width: $breakpoint-lg) {
  // SWIPER PRESENTATION
  .swiper_presentation-title {
    font-weight: 600;
  }
  .swiper_presentation-title--2 {
    font-size: 3.4rem;
    font-weight: 600;
  }
  .swiper_presentation-title--3 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .swiper_presentation-bg--1 {
    background-position-y: -22rem;
  }
  .swiper_presentation-bg--2 {
    background-position-y: 0rem;
    background-size: cover;
  }
  .swiper_presentation-bg--3 {
    background-size: 150%;
    background-position-x: -24rem;
    background-position-y: -12rem;
  }
}
@media (max-width: 930px) {
  .swiper_presentation-bg--3 {
    background-size: 150%;
    background-position-x: -24rem;
    background-position-y: -8rem;
  }
  .swiper_presentation-bg--1 {
    background-position-y: -12rem;
  }
}
@media (max-width: $breakpoint-md) {
  .swiper_presentation-title {
    &::after {
      width: 150%;
      height: 300%;
    }
  }
  // SWIPER PRESENTATION
  .swiper_presentation-wrapper {
    background-size: cover;
    background-position: center;
  }
  .swiper_presentation-title {
    font-weight: 600;
  }
  .swiper_presentation-title--2 {
    font-size: 3rem;
    font-weight: 500;
  }
  .swiper_presentation-title--3 {
    font-size: 2.4rem;
    font-weight: 500;
  }
  .swiper_presentation-bg--3 {
    background-size: 200%;
  }
}
@media (max-width: 560px) {
  .swiper_presentation-title {
    &::after {
      width: 120%;
      height: 250%;
    }
  }
}
@media (max-width: 450px) {
  .swiper_presentation-title {
    &::after {
      width: 110%;
      height: 200%;
    }
  }
}
@media (max-width: $breakpoint-smL) {
  // SWIPER PRESENTATION
  .swiper_presentation-wrapper {
    height: 40rem;
  }
  .swiper_presentation-title {
    font-weight: 600;
    font-size: 4rem;
    &::after {
      width: 105%;
      height: 250%;
    }
  }
  .swiper_presentation-title--2,
  .swiper_presentation-title--3 {
    font-size: 2.2rem;
    font-weight: 500;
  }
  .swiper_presentation-bg--3 {
    background-size: 300%;
  }
  .presentation-btn-next,
  .presentation-btn-prev {
    width: 3.5rem;
    height: 3.5rem;
  }
}
@media (max-width: 350px) {
  .swiper_presentation-title--3 {
    &::after {
      width: 110%;
      height: 110%;
    }
  }
}
@media (max-width: $breakpoint-smM) {
  // SWIPER PRESENTATION
  .swiper_presentation-title {
    font-size: 3.4rem;
  }
  .swiper_presentation-title--2,
  .swiper_presentation-title--3 {
    font-size: 2.2rem;
    font-weight: 400;
  }
}

@media (max-width: $breakpoint-smS) {
  .swiper_presentation-title {
    font-size: 3rem;
  }
  .swiper_presentation-title--2,
  .swiper_presentation-title--3 {
    font-size: 1.8rem;
    font-weight: 400;
  }
  .swiper_presentation-bg--3 {
    background-position-y: 0rem;
  }
}
