@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .reviews {
    &_wrapper {
      &-card {
        max-width: 27rem;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .reviews {
    padding: 5rem 0rem;
    &_wrapper {
      padding: 0rem 5rem;
      &-card {
        width: 23rem;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .reviews {
    &_wrapper {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
      &-card {
        max-width: 40rem;
      }
    }
  }
}
