@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .price {
    &_wrapper {
      &-bg {
        background-size: 100%;
      }
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .price {
    padding: 5rem 0rem;
    &_wrapper {
      &-content {
        &--title {
          padding-bottom: 2rem;
        }
        &--list {
          padding-bottom: 1.4rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .price {
    &_wrapper {
      flex-direction: column;
      gap: 3rem;
      &-content {
        width: 90%;
        padding-left: 0;
      }
      &-bg {
        width: 60%;
      }
    }
  }
}
@media (max-width: 630px) {
  .price {
    &_wrapper {
      &-bg {
        width: 90%;
      }
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .price {
    &_wrapper {
      &-bg {
        filter: none;
        width: 90%;
      }
    }
  }
}

@media (max-width: $breakpoint-smS) {
  .price {
    &_wrapper {
      &-bg {
        height: 35rem;
      }
    }
  }
}
