@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .footer {
    &_content {
      padding: 0rem 3rem;
    }
  }
}

@media (max-width: $breakpoint-lg) {
  .footer {
    padding-bottom: 3rem;
    &_content {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 870px) {
  .footer {
    &_content {
      flex-direction: column;
      gap: 3rem;
    }
  }
}
@media (max-width: $breakpoint-md) {
  .footer {
    padding-bottom: 3rem;
    &_content {
      flex-direction: column;
      gap: 3rem;
    }
  }
}

@media (max-width: $breakpoint-smL) {
  .footer {
    &_content {
      flex-direction: column;
      gap: 3rem;
    }
    &_copyrights {
      text-align: center;
    }
  }
}

@media (max-width: $breakpoint-smM) {
  .footer {
    &_content {
      flex-direction: column;
      gap: 3rem;
      &-wrapper {
        gap: 1rem;
      }
    }
    &_copyrights {
      text-align: center;
    }
  }
}
@media (max-width: $breakpoint-smS) {
  .footer {
    &_content {
      &-wrapper {
        &--copyrights,
        &--privacy {
          font-size: 1.4rem;
        }
      }
    }
    &_copyrights {
      font-size: 1.4rem;
    }
  }
}
