@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xxl) {
  .reviews {
    &_wrapper {
      padding: 0rem 1rem;
    }
  }
}
@media (max-width: 1128px) {
  .reviews {
    padding: 5rem 0rem;
    &_wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
      &-card {
        max-width: 40rem;
      }
    }
  }
}
@media (max-width: 500px) {
  .reviews {
    &_wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
      &-card {
        max-width: 30rem;
      }
    }
  }
}
