@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-md) {
  .checkage {
    width: 47rem;
  }
}
@media (max-width: 490px) {
  .checkage {
    width: 90%;
  }
}
@media (max-width: $breakpoint-smS) {
  .checkage {
    width: 28rem;
    height: 33rem;
  }
}
