@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .header {
    padding: 3rem;
  }
}
@media (max-width: $breakpoint-md) {
  .header {
    &_nav {
      &-menu {
        gap: 1.2rem;
      }
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .header {
    &_nav {
      flex-direction: column;
      gap: 3rem;
      &-logo {
        &--img {
          width: 10rem;
        }
      }
      &-menu {
        gap: 2.4rem;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }
  }
}
