@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xxl) {
  .social {
    &_nav {
      padding: 0rem 3rem;
      &-wrapper {
        gap: 2rem;
      }
    }
  }
}
@media (max-width: 1284px) {
  .social {
    &_nav {
      &-wrapper {
        flex-wrap: wrap;
      }
      &-contacts {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1100px) {
  .social {
    &_nav {
      &-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
      }
      &-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
      }
    }
  }
}

.social_nav-contacts-location--425px {
  display: none;
  @media (max-width: 530px) {
    display: block;
  }
}

.social_nav-contacts-nolocation--425px {
  @media (max-width: 530px) {
    display: none;
  }
}
