@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .header {
    padding: 3rem;
  }
}
@media (max-width: $breakpoint-lg) {
  .header {
    &_nav {
      &-menu {
        width: 70%;
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 875px) {
  .header {
    &_nav {
      gap: 4rem;
      &-menu {
        width: 75%;
      }
    }
  }
}
@media (max-width: $breakpoint-md) {
  .header {
    &_nav {
      &-menu {
        width: 60%;
      }
    }
  }
}
@media (max-width: 660px) {
  .header {
    &_nav {
      flex-direction: column;
      gap: 5rem;
      &-menu {
        justify-content: center;
      }
    }
  }
}
@media (max-width: 514px) {
  .header {
    &_nav {
      &-menu {
        width: 65%;
      }
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .header {
    &_nav {
      flex-direction: column;
      gap: 3rem;
      &-logo {
        &--img {
          width: 10rem;
        }
      }
      &-menu {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2.4rem;
        flex-wrap: wrap;
      }
    }
  }
}
