@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-md) {
  .correction {
    &_wrapper {
      flex-direction: column;
      gap: 3rem;
      &-content {
        width: 90%;
        padding-left: 0;
      }
      &-bg {
        width: 90%;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .correction {
    &_wrapper {
      &-bg {
        height: 40rem;
      }
    }
  }
}

@media (max-width: $breakpoint-smL) {
  .correction {
    &_wrapper {
      &-bg {
        filter: none;
      }
    }
  }
}
