@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.swiper_portfolio-mobile {
  display: none;
}

@media (max-width: $breakpoint-lg) {
  .portfolio {
    padding: 5rem 0rem;
  }
  // SWIPER PORTFOLIO
  .swiper_portfolio-content {
    height: 35rem;
  }
}

@media (max-width: 820px) {
  // SWIPER PORTFOLIO
  .swiper_portfolio {
    display: none;
  }
  .swiper_portfolio-mobile {
    display: block;
  }
}
