@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.about {
  padding: 12rem 0rem;
  &_wrapper {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      &--title {
        @include font-montserrat-title;
        font-size: 2.6rem;
        max-width: 60rem;
        text-align: center;
      }
      &--text {
        @include font-montserrat-p;
        font-weight: 300;
        color: $smoke50;
        text-align: center;
      }
      &--span {
        display: block;
        padding-top: 2rem;
      }
    }
    &-btn {
      @include font-montserrat-btn;
      color: $white;
      background-color: $brick;
      border: 1px solid $brick;
      cursor: pointer;
      padding: 1.6rem 4rem;
      margin-top: 3rem;
      @include hover-btn;
    }
  }
}
