@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.about {
  padding: 12rem 0rem;
  &_wrapper {
    @include font-montserrat-title;
    &-content {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      &--title {
        font-size: 2rem;
        font-weight: 600;
        max-width: 60rem;
        text-align: center;
        margin: 0 auto;
      }
      &--text {
        font-weight: 300;
        color: $smoke50;
        text-align: center;
        font-size: 2rem;
      }
      &--span {
        display: block;
        padding-top: 2rem;
      }
    }
    &-btn {
      @include font-montserrat-title;
      font-weight: 600;
      color: $white;
      background-color: $brick;
      border: 1px solid $brick;
      cursor: pointer;
      padding: 1.6rem 4rem;
      margin-top: 3rem;
      @include hover-btn;
    }
  }
}
