@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/hover";

.checkage {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 55rem;
  height: 30rem;
  transform: translate(-50%, -50%);
  background-color: $smoke25;
  z-index: 3;
  &_wrapper {
    &-logo {
      width: 10rem;
      height: 10rem;
      margin: 0 auto;
      padding: 3rem;
      &--img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    &-content {
      &--text {
        @include font-montserrat-title;
        color: $white;
        padding-bottom: 3rem;
      }
    }
    &-btn {
      display: flex;
      justify-content: space-around;
      &--confirm,
      &--cancel {
        padding: 1rem 3rem;
        @include font-montserrat-btn;
        cursor: pointer;
      }
      &--confirm {
        color: $green100;
        background-color: $white;
        border: none;
        @include hover-btn;
      }
      &--cancel {
        color: $brick;
        background-color: $white;
        border: none;
        @include hover-btn;
      }
    }
  }
}

.checkage_overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.3rem);
  top: 0;
  left: 0;
}

.checkage_show {
  display: block;
}
