@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.correction {
  background-color: $smoke75;
  &_wrapper {
    display: flex;
    gap: 10rem;
    align-items: center;
    padding-bottom: 10rem;
    &-bg {
      width: 50%;
      height: 50rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 115%;
      background-position-x: -12rem;

      filter: grayscale(100%);
      &:hover {
        transition: 0.7s all ease;
        filter: grayscale(0%);
      }
      &:not(:hover) {
        transition: 0.7s all ease;
      }
    }
    &-content {
      width: 50%;
      padding-left: 5rem;
      &--title {
        @include font-montserrat-title;
        color: $white;
        padding-bottom: 4rem;
      }
      &--text {
        @include font-montserrat-text;
        color: $white;
        padding-bottom: 3.4rem;
      }
    }
  }
}
