@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/hover";

.footer {
  padding: 3.2rem 0rem;
  background-color: $smoke75;
  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_box {
    display: flex;
    gap: 3.2rem;
    &-copy,
    &-privacy {
      @include montserrat-a;
      @include hover-brick;
    }
  }
  &_logo {
    @include montserrat-p;
  }
}

.link-scroll-top {
  position: fixed;
  content: "";
  width: 3.2rem;
  bottom: 2rem;
  left: 1.4rem;
}
