@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/hover";

.footer {
  padding-bottom: 5rem;
  background-color: $smoke75;
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10rem;
    &-slider {
      width: 50%;
    }
    &-social {
      width: 40%;
      display: flex;
      gap: 4.8rem;
      &--links {
        text-decoration: none;
      }
    }
  }
  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include font-montserrat-title;
    color: $white;
    &-wrapper {
      display: flex;
      gap: 2.4rem;
      &--copyrights,
      &--privacy {
        color: $white;
        text-decoration: none;
        @include hover-brick;
      }
    }
  }
}

// SWIPER FOOTER

.swiper-pagination-footer {
  display: none;
}
