@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/hover";
@import "../scss/animations/keyframes";

.header {
  padding: 1.6rem 0rem;
  margin-bottom: 3.2rem;
  background-color: $smoke75;
  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-mobile {
      display: none;
    }
    &-meet {
      @include hover-btn;
      animation: buttonUp 2s ease-in-out infinite;
      &-excl {
        margin: unset;
      }
    }
    &-logo {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      &--img {
        height: 5.5rem;
      }
      &--title {
        font-size: 2.4rem;
        color: $white;
        z-index: 2;
      }
    }
    &-list {
      display: flex;
      gap: 2.4rem;
      &--links {
        color: $white;
      }
      &--span {
        @include hover-brick;
        @include montserrat-a;
        &-red {
          color: $brick;
          cursor: pointer;
        }
      }
    }
    &-lang {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;
    }
    &-link {
      max-width: 2.5rem;
    }
  }
}
