@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/hover";

.header {
  padding: 3.6rem;
  background-color: $smoke50;
  &_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      &--img {
        width: 100%;
        height: 10rem;
        display: block;
      }
      &--title {
        @include font-montserrat-title;
        font-size: 2.4rem;
        color: $white;
      }
    }
    &-menu {
      display: flex;
      gap: 2.4rem;
      &--links {
        text-decoration: none;
        @include font-montserrat-title;
        color: $white;
        @include hover-brick;
      }
    }
  }
}
