@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.individual {
  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  &_title {
    @include montserrat-h2;
  }
  &_content {
    display: flex;

    gap: 1.6rem;
  }
  &_video {
    max-width: 100%;
    width: 50%;
    border-radius: 0.4rem;
    object-fit: cover;
  }
  &_galery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    width: 50%;
    &-img {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 0.4rem;
    }
  }
}
