@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

.portfolio {
  padding: 10rem 0rem;
  background-color: $smoke75;
  &_title {
    @include font-montserrat-section-title;
    color: $white;
  }
}

// SWIPER PORTFOLIO

.swiper_portfolio-content {
  height: 50rem;
  width: 100%;
  &--img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.swiper-pagination-bullet-active {
  background-color: $brick;
}

// SWIPER PORTFOLIO MOBILE

.swiper_portfolio-mobile-content {
  height: 50rem;
  width: 100%;
  &-img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
