@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

// SWIPER PRESENTATION

.swiper_presentation-wrapper {
  height: 50rem;
}
.swiper_presentation-title {
  @include font-montserrat-presentation;
  color: $white;
  font-size: 4.4rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    width: 200%;
    height: 400%;
    background-color: $brick;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.5;
  }
  &--2 {
    @include font-montserrat-title;
    color: $white;
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    &::after {
      position: absolute;
      content: "";
      width: 120%;
      height: 120%;
      background-color: $brick;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0.7;
    }
  }
  &--3 {
    @include font-montserrat-title;
    color: $white;
    font-size: 4rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    &::after {
      position: absolute;
      content: "";
      width: 120%;
      height: 120%;
      background-color: $brick;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0.7;
    }
  }
}
.presentation-btn-next {
  width: 4.5rem;
  height: 4.5rem;
  &::after {
    content: "";
  }
}
.presentation-btn-prev {
  width: 4.5rem;
  height: 4.5rem;
  &::after {
    content: "";
  }
  transform: rotate(180deg);
}
.swiper_presentation-wrapper {
  background-repeat: no-repeat;
  background-size: 100%;
}
.swiper_presentation-bg--1 {
  background-position-y: -70rem;
}
.swiper_presentation-bg--2 {
  background-position-y: -10rem;
}
.swiper_presentation-bg--3 {
  background-position-y: -20rem;
}

.lazy-bg {
  min-height: 200px;
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
}
