@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

// SWIPER PRESENTATION

.swiper_presentation-wrapper {
  height: 45rem;
}
.swiper_presentation-title {
  @include font-montserrat-title;
  color: $white;
  font-size: 3.2rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.presentation-btn-next {
  width: 4.5rem;
  height: 4.5rem;
  &::after {
    content: "";
  }
}
.presentation-btn-prev {
  width: 4.5rem;
  height: 4.5rem;
  &::after {
    content: "";
  }
  transform: rotate(180deg);
}
.swiper_presentation-wrapper--bg {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
