@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/hover";

.social {
  padding: 2.4rem 0rem;
  background: $smoke75;
  &_title {
    @include font-montserrat-section-title;
    color: $white;
  }
  &_nav {
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-contacts {
      display: flex;
      gap: 2.4rem;

      &--links {
        color: $white;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      &--span {
        @include font-montserrat-links;
        @include hover-brick;
      }
    }
    &-social {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      &--links {
        text-decoration: none;
        color: $black;
      }
    }
  }
}
