@import "../mixins/mixins";
@import "../variables/variables";

@mixin hover-brick {
  &:hover {
    transition: 0.4s;
    color: $brick;
    &:not(:hover) {
      transition: 0.4s;
    }
  }
}

@mixin hover-btn {
  &:hover {
    background-color: $white;
    color: $black;
    transition: 0.5s;
  }
  &:not(:hover) {
    transition: 0.5s;
  }
}
